*{
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    width: 1000px;
    margin: auto;
}
.logo img{
    width: 200px;
   height: 100px;
}
.menu{
    z-index: 99999;
   background: rgb(0,0,0); 
   height: 60px;
   position: relative;
   
}
.menu_li{
    display: flex;
    max-width: 885px;
    margin: auto;
    line-height: 60px;
}
.menu_li > li > a{
   
    padding: 0px 17px;
    display: block;
    font-size: 15px;
    color: white;
    font-family: uvn_vanregular;
    text-transform: uppercase;
    transition: ease-in 0.3s;
}
.trangchu{
    background:rgb(0,40,62) ;
}
.menu_li > li > a:hover{
    background: rgb(0,40,62);
   
}
.menu_li > li:hover > ul{
    display: block;
}
.menu_logo{
    z-index: 999;
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 15px;
    text-align: center;
    background: rgb(0, 28, 43);
    border: 3px solid white;
   border-radius: 50%;
   padding-top: 9px;
   margin-top: -25px;
   transition: 0.4s;
}
.menu_logo img{
   width: 80px;
   
}
.menu_logo:hover{
    background: rgb(0,40,62);
}
.hover{
    position: relative;
}
.hover > ul{
    padding: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 220px;
    z-index: 9999;
    display: none;
    transition: all 0.2s;
}
.hover > ul >li{
    padding-left: 20px;
    height: 45px;
    line-height: 45px;
    background: rgb(0,0,0);
    border: 1px solid rgb(0,0,0);
    border-radius: 0 13px;
    transition: all 0.6s;
}
.hover > ul >li >a{
    color: white;
    display: block;
    font-size: 16px;
}
.hover > ul >li:hover{
    background: rgb(0,40,62);
}

/* -----------------gioi-thieu-------------------- */
.gioi_thieu{
    background: #fbf7ec url(../img/bkgt.jpg)no-repeat center top -200px;
    padding-top: 70px;
}
.gioi_thieu-main{
    width: 1000px;
    margin: auto;
}
.gioi_thieu-gt{
    display: flex;
    width: 100%;
}
.gt_img{
  margin-left: 15px;
  margin-right: 15px;
}
.gt_img img{
    width: 470px;
}
.gioi_thieu-gt .gt_diachi{
    display: flex;
    margin-top: 15px;
    color: #00283d;
    font-weight: bold;
    text-align: left;
    line-height: 25px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.gioi_thieu-gt .gt_time{ 
    letter-spacing: 2px;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 20px;
}

.gioi_thieu-gt .gt_diachi img{
    width: 14px;
    display: flex;
    margin-right: 10px;
}
.gt_title{
    margin-left: 15px;
  margin-right: 15px;
}
.gt_title h3{
    color: #032e70;
    font-family: utm_heve;
    font-size: 30px;
    margin-top: 40px;
    text-transform: uppercase;
}
.gt_title .gt_TH{
    font-family: robotobold;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 20px;
    color: #6666;
}
.gt_title .gt_text{
    margin-top: 10px;
    line-height: 30px;
    font-family: UVNAiCapNhe;
    font-size: 22px;
    max-width: 460px;
}
.gioi_thieu-video{
    margin-top: 50px;
    margin-bottom: 50px;
}
.gioi_thieu-video iframe{
    padding: 0 14px;
    width: 100%;
    height: 500px;
}
/* -----------------------thuc don----------------- */
.gioi_thieu-thuc-don{
    margin-bottom: 50px;
}
.gioi_thieu-thuc-don > h3{
    text-transform: uppercase;
    margin: 15px;
    color: #032e70;
    font-family: utm_heve;
    font-size: 30px;
    text-align: center;
}
.gioi_thieu-thuc-don-main{
    margin-top: 15px;
    display: inline-flex;
    /* width: 100%; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.thuc_don-main{
    flex: 20%;
    margin: 0 15px;
    
}
.thuc_don-main-text{
    text-align: center;
    display: flex;
    height: 65px;
    background: rgb(54,63,80);
    justify-content: center;
    align-items: center;
   
}
.thuc_don-main-text:hover{
    background: black;
}  
.thuc_don-main-text h3{
    color: white;
}
.thuc_don-main-img{
    overflow: hidden; 
}
.thuc_don-main-img img{
    width: 170px;
    transition: transform .4s;
    overflow: hidden; 
}
.thuc_don-main-img img:hover{
    transform: scale(1.2);
}
.thuc_don-main:hover .thuc_don-main-text{
    background: black;
  
}
.btn {
    text-align: center;
   padding-bottom: 50px;
}
.btn a{
    color: white;
    background: rgb(54,63,80);
    padding: 10px 20px;
    transition: all 0.4s;
}
.btn a:hover{
    background: rgb(0,40,62);
}
.phonghop{
    min-height: 730px;
    background: url(../img/ph.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.gt_phonghop{
    padding-top: 50px;
    padding-left: 50px;
}
.phonghop form{
    background: #ffffff9c;
    padding: 16px ;
    margin-right: 30px;
    text-align: center;
    max-width: 300px;
    height: 550px;
    position: relative;
    margin-top: 50px;
}
.h3{
   
    text-transform: uppercase;
    font-size: 18px;
    color: #00283e;
    letter-spacing: 2px;
    background: #c9c9c9;
    margin: -16px;
    margin-bottom: 15px;
    line-height: 50px;
}
.h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #00283e;
    letter-spacing: 2px;

    margin-bottom: 15px;
    line-height: 50px;
}
form input{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    padding-left: 10px;
}

form button{
    width: 150px;
    height: 35px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background: rgb(214,133,67);
    transition: all 0.4s;
}
form button:hover{
    background: rgb(0,40,62);
}
/* -----------------thong tin----------- */

.main_thongtin{
    background: url(../img/bkgt.jpg)no-repeat top -200px center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.thongtin_h3{
    width: 1000px;
    margin: auto;
}
.thongtin_h3 > h3{
    text-transform: uppercase;
    margin: 15px;
    color: #032e70;
    font-size: 30px;
    text-align: center;
}
.thongtin_img{
    display: flex;
  
}
.thongtin_img-img{
    background: #fff;
    border: 1px solid #ece6d9;
    padding: 20px;
    width: 300px;
    margin: 0 15px;
    margin-bottom: 30px;
    min-height: 376px;
}
.img_img-img{
   
    overflow: hidden;
    margin-bottom: 20px;
}
.img_img-img img{
    width: 100%;
    transition: transform .4s;
   
}

.img_img-img img:hover{
    transform: scale(1.2);
}
.img_img-thongtin h3 a{
    color: #00283d;
    font-size: 23px;
    transition: 0.5s;
}
.img_img-thongtin h3 a:hover{
    color:#977e84 ;
}
/* ----------------------footer------------------ */

.footer{
    background: #00283d;
    color: white;
    padding: 50px 0;
}
.footer_main{
    width: 1100px;
    margin: auto;
}
.footer_main h3{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}
.footer_chung{
    display: flex;
    width: 100%;
}
.footer_left{
    width: 50%;
}
.footer_left>p{
    margin-bottom: 10px;
    font-size: 16px;
}
.footer_left > p span{
    margin-left: 35px;
    font-weight: bold;
}
.footer_left > p img{
    margin-right: 10px;
    
}
.footer_right{
    width: 50%;
}
.footer_right > p{
    color: rgb(134,98,64);
    text-align: center;
    margin-top: 30px;
}
.footer_logo{
    margin: auto;
    width: 150px;
    height: 150px;
    background: #00283e;
    border-radius: 50%;
    text-align: center;
    border: 3px solid #fff;
    padding-top: 20px;
    transition: 0.5s;
}
.footer_logo:hover{
    background: rgb(0, 28, 43);
}
/* -------------------------trang------gioi thieu---------------- */

.gioithieu_gt h3{
    color: #032e70;
    padding-top: 70px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background: #f2eee5;
    padding-bottom: 55px;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 5px;
}
.gioithieu_gt_text{
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}
.gioithieu_gt_text .td{
    font-style: italic;
    color: #aaa;
    font-size: 17px;
    font-weight: bold;
    padding-top: 20px;
    
}
.gioithieu_gt_text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
}
/* -------------------trang----lien he-------------------- */
.lienhe_form{
    width: 1000px;
    margin: auto;
    display: flex;
   padding-top: 30px;
   padding-bottom: 30px;
}
.lienhe_form-left{
    width: 50%;
    padding-right: 50px;
}
.lienhe_form-left h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.lienhe_form-left p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.lienhe_form-right{
    width: 50%;
    padding-left: 30px;
}
form textarea{
    padding: 10px;
    font-size: 18px;
    width: 100%;
    height: 100px;
}
/* ------------nhuong--quyen------------------ */
.nhuong_quyen{
    width: 1000px;
    margin: auto;
    display: flex;
    padding: 50px 0;
}
.nhuong_quyen-title{
    width: 300px;
    background: #fff;
    border: 1px solid #ece6d9;
    padding: 20px;
    margin: 0 15px;
    margin-bottom: 30px;
    min-height: 376px;
}
.nhuong_quyen-title h3 a{
    color: black;
    font-size: 20px;
    transition: 0.5s;
}
.nhuong_quyen-title h3 a:hover{
    color:#977e84 ;
}
.nhuong_quyen-title-img{
    overflow: hidden;
    margin-bottom: 20px;
}
.nhuong_quyen-title-img img{
    width: 100%;
    height: 100%;
    transition: transform .4s;
}
.nhuong_quyen-title-img img:hover{
    transform: scale(1.2);
}